.heading{
    width:100%;
    height:100vh;
    padding:0;
    margin:0;
    &__video{
        position: absolute;
        top:0;
        left:0;
        height:100vh;
        width:100%;
        z-index: -1;
        opacity: 0.8;
        object-fit: cover;
        clip-path:polygon(0 0,100% 0,100% 75vh, 0 100%);
    }


    &__text-box{
        @include absCenter;
        text-align: center;
    }

}
.section-info{
    padding:10rem;
    position: relative;
    margin-top: -8rem;
    
    
}

.section-about{
    background-color: $color-background-light;
}

.section-hearts{
    position: relative;
    padding:10rem 0rem;
}

.section-packages{
    padding:8rem;
    background-color: $color-background-light;

}

.section-book{
    background-image: url('../../img/book-bg.jpg');
    background-size: cover;
    background-position: center;
    padding:2rem;
}